<div class="row mt-5">
  <div class="col-md-6">
    <mat-form-field class="example-form-field">
      <input matInput type="text" placeholder="Search" [(ngModel)]="value" />
    </mat-form-field>

    <button
      style="margin-left: 10px"
      mat-raised-button
      (click)="getShops(value)"
    >
      Search
    </button>
    <button style="margin-left: 10px" mat-raised-button (click)="clearSearch()">
      Clear
    </button>
    <mat-button-toggle-group
      multiple
      style="margin-left: 10px"
      [(ngModel)]="selectedValues"
      (ngModelChange)="onSelectedValuesChange()"
    >
      <mat-button-toggle
        *ngFor="let item of countryValues"
        [value]="item.number"
        >{{ item.name }}</mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>
  <div class="col-md-6 d-flex justify-content-end">
    <button mat-raised-button (click)="createShop()">Create shop</button>
  </div>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Define columns -->
  <ng-container matColumnDef="shopId">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">{{ element.shopId }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let element">
      {{ element.startDate | date : "yyyy-MM-dd" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef>Country</th>
    <td mat-cell *matCellDef="let element">
      {{ getCountryName(element.country) }}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="informationsAboutShop(element.shopId)">
        <i class="bi bi-info-circle" style="font-size: 1.5rem"></i>
      </button>
      <button
        mat-icon-button
        (click)="deleteShop(element.shopId)"
        matTooltip="Delete Shop"
      >
        <i class="bi bi-trash" style="font-size: 1.5rem"></i>
      </button>
      <button
        mat-icon-button
        (click)="updateShop(element)"
        matTooltip="Update Shop"
      >
        <i class="bi bi-envelope" style="font-size: 1.5rem"></i>
      </button>
      <button
        mat-icon-button
        (click)="createProduct(element.shopId)"
        matTooltip="Create Product"
      >
        <i class="bi bi-cart2" style="font-size: 1.5rem"></i>
      </button>
      <button
        mat-icon-button
        (click)="createAddress(element.shopId)"
        matTooltip="Add Address"
      >
        <i class="bi bi-house" style="font-size: 1.5rem"></i>
      </button>
      <button
        mat-icon-button
        (click)="createEmployee(element.shopId)"
        matTooltip="Add Employee"
      >
        <i class="bi bi-person-fill-add" style="font-size: 1.5rem"></i>
      </button>
    </td>
  </ng-container>

  <!-- Header and Row definitions -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
