<form [formGroup]="productForm" (ngSubmit)="submit(productForm.value)">
  <mat-form-field>
    <mat-label>Name:</mat-label>
    <input type="text" formControlName="name" id="name" />

    <mat-label for="price">Price:</mat-label>
    <input type="number" formControlName="price" id="price" />

    <mat-label for="amount">Amount:</mat-label>
    <input type="number" formControlName="amount" id="amount" />
  </mat-form-field>
  <button mat-raised-button type="submit" [disabled]="!productForm.valid">
    Submit
  </button>
</form>
