<div style="margin-left: 10px" class="container px-4">
  <div class="row gx-5">
    <div class="col">
      <div class="m-5" *ngIf="products.length !== 0">
        <h1>
          Nomuber of products: <b> {{ getTotaNomuberOfPrducts() }} </b>
        </h1>
        <h1>
          Value of all products: <b> {{ getTotalValue() }} USD </b>
        </h1>
      </div>
    </div>
    <div class="col">
      <button
        class="m-5"
        style="margin-left: 10px"
        mat-raised-button
        (click)="addProductToShop()"
      >
        Add Product To Shop
      </button>
    </div>
  </div>
</div>
<hr />
<div class="m-5">
  <p>Product with VAT:</p>
  <input
    class="mb-1"
    matInput
    type="number"
    style="margin-right: 10px"
    [(ngModel)]="productVat"
  />

  <p>Product without VAT</p>
  <input
    matInput
    type="number"
    disabled="true"
    [value]="calculateProductVat(productVat)"
  />
</div>
<mat-grid-list cols="8" rowHeight="200px" gutterSize="20px" class="mx-3">
  <mat-grid-tile *ngFor="let product of products">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ product.name }}</mat-card-title>
        <mat-card-subtitle
          ><b> Price: {{ product.price }} USD </b>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Available amount: {{ product.amount }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-button
          (click)="updateProduct(product)"
          matTooltip="Update Product"
        >
          Update
        </button>
        <button
          mat-button
          (click)="deleteProduct(product)"
          matTooltip="Delete Product"
        >
          Delete
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
