<form
  [formGroup]="taskEmployeeForm"
  (ngSubmit)="updateTaskEmployee(taskEmployeeForm.value)"
>
  <div class="d-flex justify-content-between p-2">
    <h2>{{ title }}</h2>
    <i class="bi bi-x-circle" style="font-size: 1.5rem" mat-dialog-close></i>
  </div>
  <div class="p-3 m-0 border-0 m-0 border-0">
    <div class="mb-3">
      <mat-form-field class="example-full-width">
        <mat-label>Task Created Date:</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="taskCreatedDate"
          required
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field class="example-full-width">
        <mat-label>Title:</mat-label>
        <input matInput formControlName="title" required />
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field class="example-full-width">
        <mat-label>Description:</mat-label>
        <textarea matInput formControlName="description" required></textarea>
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field class="example-full-width">
        <mat-label>Time Estimated (in hours):</mat-label>
        <input
          matInput
          type="number"
          formControlName="timeEstimated"
          required
        />
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field class="example-full-width">
        <mat-label>Task Status:</mat-label>
        <mat-select formControlName="taskStatus" required>
          <mat-option
            *ngFor="let status of taskStatuses"
            [value]="status.value"
          >
            {{ status.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field class="example-full-width">
        <mat-label>Task assigned to:</mat-label>
        <mat-select matInput formControlName="nameEmployee" required>
          <mat-option *ngFor="let name of employees" [value]="name.firstName">
            {{ name.firstName + " " + name.lastName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="mb-3">
      <input
        formControlName="files"
        type="file"
        class="file-upload"
        multiple
        (change)="onFileChange($event)"
      />
    </div>
  </div>

  <div class="d-flex justify-content-end p-2">
    <button style="margin-right: 8px" mat-raised-button mat-dialog-close>
      Cancel
    </button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="taskEmployeeForm.invalid"
    >
      Submit
    </button>
  </div>
</form>
