<div class="d-flex justify-content-between p-2">
  <h2>{{ title }}</h2>
  <i class="bi bi-x-circle" style="font-size: 1.5rem" mat-dialog-close></i>
</div>
<form [formGroup]="employeeForm" (ngSubmit)="submit(employeeForm.value)">
  <div class="p-3 m-0 border-0 m-0 border-0">
    <div class="mb-3">
      <mat-form-field class="example-full-width">
        <mat-label>First Name:</mat-label>
        <input matInput formControlName="firstName" required />
      </mat-form-field>
    </div>

    <div class="mb-3">
      <mat-form-field class="example-full-width">
        <mat-label>Last Name:</mat-label>
        <input matInput formControlName="lastName" required />
      </mat-form-field>
    </div>

    <div class="mb-3">
      <mat-form-field class="example-full-width">
        <mat-label>Salary:</mat-label>
        <input matInput formControlName="salary" type="number" required />
      </mat-form-field>
    </div>

    <div class="mb-3">
      <mat-form-field class="example-full-width">
        <mat-label>Email:</mat-label>
        <input matInput formControlName="email" required />
      </mat-form-field>
    </div>

    <div class="mb-3">
      <mat-form-field class="example-full-width">
        <mat-label>Employee Position</mat-label>
        <mat-select formControlName="employeePosition" required>
          <mat-option
            *ngFor="let position of employeePosition"
            [value]="position.value"
          >
            {{ position.nameOfposition }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="d-flex justify-content-end p-2">
    <button style="margin-right: 8px" mat-raised-button mat-dialog-close>
      Cancel
    </button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="employeeForm.invalid"
    >
      Submit
    </button>
  </div>
</form>
