<app-header style="height: 20%"></app-header>
<mat-drawer-container style="height: 80%; overflow: hidden">
  <mat-drawer mode="side" opened>
    <mat-list role="list">
      <mat-list-item
        role="listitem"
        routerLink="/shops"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Shop List
      </mat-list-item>
      <mat-list-item
        role="listitem"
        routerLink="/products"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Product List. Number of all products:
        <mat-icon
          style="margin-bottom: -19px; margin-left: -15px; margin-right: 11px"
          matBadge="{{ numberOfProducts }}"
        ></mat-icon>
      </mat-list-item>
      <mat-list-item
        role="listitem"
        routerLink="/employees"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Employee List. Number of all employees:
        <mat-icon
          style="margin-bottom: -19px; margin-left: -15px; margin-right: 11px"
          matBadge="{{ numberOEmployee }}"
        ></mat-icon>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content style="overflow: hidden">
    <router-outlet></router-outlet
  ></mat-drawer-content>
</mat-drawer-container>
